
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
img {
max-width: 100%;
max-height: 100%;
}

.auto-resize-portrait {
height: 80px;
width: 50px;
}

.auto-resize-landscape {
height: 30px;
width: 80px;
}

.auto-resize-square {
height: 75px;
width: 75px;
}

.auto-resize-big{
width:150px;
height:150px;
}